{% extends "base.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ event.eventName }}
{% endblock title %}

{% block body %}
    {{ parent() }}

    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1>{{ event.eventName }}</h1>
            </div>
            <div class="row">
                <div class="col s12 m8">
                    <img class="responsive-img activator event-banner"
                         src="data:image/jpeg;base64,{{ event.eventIMG }}" alt="{{ event.eventName }} Banner"/>
                </div>
                <div class="col s12 m4">
                    <p class=" flow-text event-description"> {{ event.eventDesc }} </p>
                    <p><span class="title">Department: </span> {{ event.eventDeptOBJ.deptName }} </p>
                    <p><span class="title">Venue: </span> {{ event.eventVenue }} </p>
                    <p><span class="title">Starts: </span> {{ event.eventHumanReadableStartTime }} </p>
                    <p><span class="title">Ends: </span> {{ event.eventHumanReadableEndTime }} </p>

                    {% if not adminLoggedIN %}
                        {% if not userRegisteredForEvent(event.eventID, user.userID) %}
                            <a class="btn" href="/event/register?event={{ event.eventName }}&id={{ event.eventID }}"
                               class="event-register">Register</a>
                        {% else %}
                            <a class="event-registered">Registered</a>
                        {% endif %}
                    {% else %}
                        {% if admin.adminID == event.createdBy or admin.adminLevel == "super" %}
                            <a class="btn" href="/event/edit/?event={{ event.eventName }}&id={{ event.eventID }}">
                                Edit
                            </a>

                            <a class="btn"
                               href="/event/details/registrations?event={{ event.eventName }}&id={{ event.eventID }}">
                                Registrations
                            </a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}